.cart-order-container {
  margin: 15vh 20px 20px;
}
.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* 장바구니 컨테이너들 */
.cart-title-container,
.cart-item-container {
  width: 80%;
  flex-basis: 33.3%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid #ccc;
}
/* #region 장바구니 타이틀 */
.cart-title-container {
  font-size: 1.5em;
  font-weight: bold;
}
.cart-title-container span {
  flex: 1;
  text-align: center;
  padding: 10px 0;
}
/* #endregion */

/* #region 장바구니 아이템 */
.cart-item-container {
  font-size: 1em;
  align-items: center;
}
.cart-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#cart-image {
  margin-left: 80px;
  width: 100px; /* 원하는 고정된 너비 설정 */
  height: auto; /* 높이를 자동으로 조절하여 가로세로 비율을 유지 */
}
.cart-item {
  display: flex;
  flex-direction: column;
}
.cart-item-container span {
  flex: 1;
  margin-bottom: 2px;
  text-align: center;
}
.cart-item span{
  text-align:left;
  margin-left: 12px;
}
.cart-item-container div {
  flex: 1;
  text-align: center;
}
.cart-item-container button {
  background-color: white;
  border: 0;
}
/* #endregion */

/* #region 구매 */
.cart-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 구매 컨테이너들 */
.cart-price-container,
.cart-type-container {
  width: 90%;
  text-align: center;
}
.cart-price-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3%;
}
.cart-price-container span {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}
#cart-title {
  font-size: 1.5em;
  font-weight: normal;
}
.cart-type-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3%;
}
.cart-type-container button {
  flex: 1;
  font-size: 1.2em;
  background-color: #ccc;
  border: 0;
}
#keepShopping-btn {
  background-color: #bcb8b1;
}
#goOrder-btn {
  background-color: #e0afa0;
}
/* #endregion */

/* 장바구니에 아무 상품도 없을 때 */
#empty-cart {
  font-size: 2.5em;
  font-weight: bold;
  position: fixed;
  top: 40%;
}

#empty-cart p {
  padding: 30px 20px;
}
#goShopping-btn {
  width: 40%;
  font-size: 0.8em;
  font-weight: normal;
}
