ul {
  list-style: none;
}

.context-container {
  display: flex;
  padding-top: 18px;
}

/* 카테고리 */
.category {
  width: 200px;
  height: 60px;
  border-radius: 15px;
  margin: 10px 10px;
  background-color: #f4f3ee;
  text-align: center;
  /* 글자 중앙 정렬 하기 위해서 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  letter-spacing: 1px; /* 글자 간격 */
}
.category:hover  {
  background-color: #d8d4cd;
}
.category.selected{
  background-color: #bcb8b1;
}

/* 물건 */
.items-container {
  display: flex;
  flex-direction: column;
  padding: 12px 18px;
  padding-right: 0;
  width: 100%;
}
#category-name {
  margin-left: 18px;
  font-size: 2em;
  font-style: italic;
}
.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.item-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-left: 18px;
}
.item-area li {
  font-family: "Noto Serif KR", serif;
}
.item{
  display: block;
  width: 250px;
}
.item-image {
  width: 250px; /* 원하는 고정된 너비 설정 */
  height: auto; /* 높이를 자동으로 조절하여 가로세로 비율을 유지 */
}
.item-brand {
  padding-bottom: 2px;
  font-weight: bold;
  font-size: small;
}
.item-name{
  padding-bottom: 4px;
}
.item-price {
  font-weight: bolder;
}
/* 물건 이름 길면 안보이게*/
.item-area #item-name.ellipsis {
  overflow:hidden; 
  text-overflow:ellipsis; 
  white-space:nowrap;
}
