/* header */
.header-container {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  z-index: 1000;
  background-color: white ;
}

.header-item-container {
  flex: 1;
  display: flex;
  align-items: center;
}

/* 공통*/
.header-btn {
  background: none;
  border: 0px;
  color: black;
  padding: 18px 18px;
}

/* logo */
#header-logo {
  padding: 12px;
  width: 100%;
  font-size: 3em;
  font-style: bold;
  letter-spacing: 1px; /* 글자 간격 */
  text-decoration: none; /* 링크 밑줄 */
  color: #e0afa0; /* 링크 색상 없애기 */
}

/* search */
.search-container {
  flex: 5;
  height: 1000px;
  display: flex;
  flex-direction: column;
}


#search{
  position: fixed;
  top : 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  max-width: 500px;
  border-bottom: 1px solid black;
}

#search-focused{
  position: fixed;
  top : 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  max-width: 500px;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 5px #aeaeae;
}

#search-keyword {
  display: block;
  width: 100%;
  padding: 0 8px;
  margin: 0 0;
  background: none;
  outline: none;
  font-size: medium;
}

#result{
  position: fixed;
  width: 500px;
  top : 80px;
  background-color: white;
  box-shadow: 0px 0px 5px #aeaeae;
}
.result-item{
  padding: 6px 4px;
  border-bottom: 0.8px solid #d3d3d3;
}

.result-item-brand{
  font-size: smaller;
  color: #7e7d7d;
}

/* nav */
.nav-container {
  margin-left: auto;
  padding: 12px;
}
.nav-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
