/* home */
.home-container {
  display: flex;
  flex-direction: column;
}

/* banner */
.banner-image-container {
  display: flex;
  
}

.banner-image {
  width: 100%;
  transition: transform 0.5s ease-in-out;
  height: auto;
}

.banner-image.active {
  opacity: 1;
}
